 .Header {
    color: blue;
    background-color: black;

}
.Sub-header ul {
    list-style-type: none;
}
.Sub-header li{
    float: right;
    width: 100px;
    padding-top: 40px;
}
.Sub-header h4 {
    float: right;
}
.Sub-header{
    background-color: purple;
}
.Home {
    background-color: seagreen;
}
.Company {
    background-color: slateblue;
}
.Bungkus-Project {
    background-color: wheat;

}
.customers ul{
    list-style-type: none;
}
.customers td{
    width: 100px;
}
.Container {
    background-color: navy;
}
.contact-us {
    background-color: indianred;
}
.Footer {
    background-color: brown;
    color: darkblue;
}












